<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="alien1" class="org.spring.Alien" scope="prototype"></bean>-->

    <bean id="alien1" class="org.spring.Alien" autowire="byType">
        <property name="age" value="25"></property>

        <property name="comp">
            <bean id="comp2" class="org.spring.Laptop" primary="true"/>
        </property>
<!--        <property name="comp" ref="comp2"/>-->

<!--        <constructor-arg  ref="lap1" />-->
<!--        <constructor-arg value="21" />-->

<!--        <constructor-arg type="int" value="21" />-->
<!--        <constructor-arg type="org.spring.Laptop" ref="lap1" />-->

<!--        <constructor-arg index="1" ref="lap1" />-->
<!--        <constructor-arg index="0" value="21" />-->

<!--        <constructor-arg name="lap" ref="lap1" />-->
<!--        <constructor-arg name="age" value="21" />-->


    </bean>

    <!-- <bean id="alien2" class="org.spring.Alien"></bean> -->

    <bean id="comp2" class="org.spring.Laptop" primary="true"/>
<!--    <bean id="comp1" class="org.spring.Desktop" lazy-init="true"/>-->
<!--    <bean class="org.spring.Laptop" lazy-init="true"/>-->
<!--    <bean class="org.spring.Desktop" primary="true" lazy-init="true"/>-->
</beans>